.ThemeToggle {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  font-family: inherit;
}

.ThemeToggle-title {
  color: var(--text-color);
  font-size: 0.8125rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  margin-right: 1rem;
  text-transform: uppercase;
}
