.App {
  background-color: var(--bg-color);
  min-height: 100vh;
  padding: 1.9375rem 2rem 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
